html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif, 'Roboto', 'Noto Sans', 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    color: #ffffffbb;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ancizar', serif;
    color: #ffffff;

}

header {
  background-color: #004080;
  color: white;
  padding: 20px 0;
  margin-bottom: 30px;
}


html {
  background-color: #0e1622;
  background-color: #0e1622;
  background-image: url(/assets/courtbackground.jpg);
  background-position: 0px, 10px;
  background-attachment: fixed;
  background-size: 110%;


.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: 'BentonSans-Regular', sans-serif;
  font-size: 10px;
  color: #fff;
  padding: 10px;
}

.Landing-Centered {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 915px;
  padding: 20px;
  padding-left: 100px;
  font-family: 'Ancizar Serif', serif;
  z-index: 10;
  text-align: left;        
}

.may{
    display:inline-block;
    position: relative;
    top: -0.1.5em;
    font-family: 'Ancizar Serif', serif;
    font-size: 2.4em;
    margin-bottom: 0px;

}

.law {
    display: inline-block;
    font-size: 2.4em;
    font-family: 'Ancizar Serif', serif;
    margin-bottom: 0px;
}

.Landing-Centered p {
    font-size: 00em;
    margin-top: 0px;
    line-height: 1;
    font-weight: 400;
}

.Landing-Centered h1 {
    font-size: 3em;
    margin-bottom: 0px;
    font-family: 'Ancizar Serif', serif;
    line-height: 1.35;
    font-weight: 300;
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-landing {
  animation: fadeSlideUp 1.2s ease-out forwards;
  }
}

.middle-banner {
  background-color: #052341;
  position: relative;
  color: white;
  width: 100%;
  
}

.banner-inner {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
  border: none;
  width: 100%;
  height: 20%;
  background-color: #0002079c;
  padding-left: 50px
}

.cases-icon {
  position: fixed;
  width: 90px;
  height: 90px;
  cursor: pointer;
  right: 1282px;
  vertical-align: middle;

}

.cases-label {
  position: fixed;
  font-family: 'BentonSans-Regular', sans-serif;
  right: 1300px;
  margin-top: 130px;
  font-size: 15px;
  vertical-align: middle;
}

.judges-icon {
  position: fixed;
  width: 90px;
  height: 90px;
  cursor: pointer;
  right: 1095px;
  vertical-align: middle;
}

.judges-label {
  position: fixed;
  font-family: 'BentonSans-Regular', sans-serif;
  right: 1115px;
  margin-top: 130px;
  font-size: 15px;
  vertical-align: middle;
}

.media-icon {
  position: fixed;
  width: 90px;
  height: 90px;
  cursor: pointer;
  right: 905px;
  vertical-align: middle;
}

.media-label {
  position: fixed;
  font-family: 'BentonSans-Regular', sans-serif;
  right: 935px;
  margin-top: 130px;
  font-size: 15px;
  vertical-align: middle;
}

.resources-icon {
  position: fixed;
  width: 90px;
  height: 90px;
  cursor: pointer;
  right: 505px;
  vertical-align: middle;
}
.resources-label {
  position: fixed;
  font-family: 'BentonSans-Regular', sans-serif;
  right: 505px;
  margin-top: 130px;
  font-size: 15px;
  vertical-align: middle;
}
